<!--Pie de pagina-->
<br />
<div class="row text-black">
    <div class="col-12">
        <div class="copyright">
            <center>
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(@DateTime.Now.DayOfYear));</script> Todos los derechos reservados | Liga Barrial del Sur-Tulcán <i class="icon-heart text-danger" aria-hidden="true"></i> 
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </center>
        </div>
    </div>
</div>
