@model IEnumerable<LigaSurTulcan.Models.Equipo>
@{
    ViewBag.Title = "Contar";
}
<br /><br /><br /><br />
<h2 class="text-center" style="font-family:Jokerman">Fechas de Juegos</h2>


<th>@ViewBag.e</th><br/>
<th>Equipos serie B= @ViewBag.variables</th>

@foreach (var p in ViewBag.e  ){
    
}
